 *{
    font-family: 'Poppins', sans-serif;
  }
body {
  margin: 0;
}
/* *{
  font-family: 'Poppins', sans-serif ;
} */
.bannerImg{
  position: relative;
}
.bannerImg::before{
  background-image: url('./images/bg.webp');
  content: "";
  width: 100%;
  position: absolute;
  height: 34ch;
  z-index: -1;
  background-size: cover;
  filter: brightness(0.5);
}
.ban-text{
  padding-top: 130px;
  padding-left: 50px;
}
.fa-cart-shopping{
  font-size: 30px !important;
}
.items{

  display: none;
}
.show-items{
  display: block;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.p-Link{
  text-decoration: none;
  color: black;
}
.tabs{
  font-weight: bold !important;
}
.active-tabs{
  border-bottom: 3px solid #FD8F5F !important;
  color: #FD8F5F !important;
}

/* -------------------------------------PRODUCT DETAIL PAGE ------------------------------------------- */

.card-wrapper{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10% !important;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px){
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}

@media screen and (width: 450px){
  .mainNav{
    width: 100%
  } .main-nav .list {
    width: 100%;
    display: block !important;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    left: 0;
    top: 48px;
    z-index: 1;
    color: white;
    position: fixed;
    left: -135%;
    transition: all 0.5s ease; }
    .main-nav .list {
      font-size: 20px;
      margin-left: 22px !important; }
      .main-nav #click:checked ~ .list {
        left: -5%; }
        .main-nav .menu-btn {
          display: block !important;
          font-size: 20px;
          position: absolute;
          border-radius: 5px;
          padding: 0px 8px;
          border: 1px solid white;
          right: 20px;
          color: white;
          top: 8px; }
        .main-nav   .menu-btn {
          font-size: 22px;
          cursor: pointer ;
          display: none ; }
    .search{
    display: none
  }.acount{
    display: none !important;
  }.Logo{
    width: 14% !important;
    z-index: 2 !important;
  }.banner{
    width: 45% !important;
    padding: 34px;
    margin-top: "62px"
  }.banHead{
    font-size: 15px !important;
  }.banInfo{
    font-size: 31px !important;
  }.banPara{
    font-size: 11px !important;
  }.banImg{
    width: 100%;
    background-size: cover !important;
    height: 570px !important;
  }.sec2{
    font-size: 29px !important;
  }.subSec2{
    font-size: 11px !important;
  }.productNav{
    margin-left: 0px !important;
    width: 100% !important;
  }.pList{
    font-size: 12px !important;
  }.prdctItems{
    width: 75% !important;
    margin-left: 55px !important;
    margin-top: 45px !important;
  }.sec3{
    margin-top: 50px !important;
  }.sec3Info{
    height: 245px !important;
  }.sec3head{
    font-size: 29px !important;
  }.Btn{
    margin: auto !important;
  }.services{
    margin-left: 50px !important;
    margin-top: 20px !important;
  }.footer{
    text-align: center;
  }.subFooter{
    margin-left: 32px !important;
    text-align: center;
  }.subFooter1{
    margin-left: 85px !important;
    text-align: center;
  }.subFot{
    text-align: center;
  }.subBtn{
    width: 106% !important;
  }.prdct-ban{
    width: 100% !important;
    background-size: cover !important;
  }.about-img{
    width: 100%;
  }.subSec3{
    font-size: 13px !important;
  }.prdct-img{
    width: 90% !important;
  }.m-prdt{
    margin-left: 27px !important;
  }.sub-p-Img{
    width: 20% !important;
  }.rewies{
    margin-left: 10px !important;
  }.p-d-review{
    margin-left: 23px !important;
  }.fields{
    width: 43ch !important;
  }
}
@media screen and (width: 900px){
  .mainNav{
    width: 100%
  }.list{
    display: flex;
    margin-left: 25px !important;
    padding: 0 !important;
  }.list1{
    font-size: 11px !important;
    font-weight: bold !important;
  }.css-cjctlb-MuiButtonBase-root-MuiTab-root{
    min-width: 0 !important;
  }.search{
    margin-left: 0px !important;
  }.input{
    font-size: 9px !important;
    font-weight: bold !important;
  }.subBtn{
    width: 106% !important;
  }.Btn{
    margin: auto !important;
  }.aount1{
    margin-top: 10 !important;
    font-size: 10px !important;
  }
  .acount{
    margin-left: 23px !important;
    
  }.banImg{
    width: 100%;
    background-size: cover !important;
    height: 570px !important;
  }.banInfo{
    font-size: 25px !important;
  }.banPara{
    font-size: 14px !important;
  }.banner{
    width: 31% !important;
    padding: 34px !important;
  }.prdctItems{
     width: 100% !important;
     margin-left: 0 !important;
  }.sec3head{
    font-size: 32px !important;
  }.instaSec{
    font-size: 18px !important;
  }.instaImg{
    width: 23%;
  }.md-serv{
    padding: 60px 0px !important;
  }.services{
    padding: 8px !important;
  }.serv-1{
    margin-left: 23px !important;
  }
  .md-Footer{
    padding: 100px 30px !important;
  }
  .about-img{
    width: 100%;
  }.fields{
    width: 45ch !important;
  }
}
@media screen and (width: 1200px){
  .list{
    display: flex;
    margin-left: 110px !important;
  }.input{
    font-size: 16px !important;
  }.instaSec{
    font-size: 42px !important;
}.search{
  margin-left: 25px !important;
}.acount{
  margin-left: 40px !important;
}
}
.App{
    margin-top: 2px;
    margin-left: 18px;
    display: flex;
}
.App input{
    /* width: 255px; */
    height: 35px;
    margin-left: 20px;
}
.user{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: white;
}

